In [4]:
import pandas as pd

In [18]:
user_new = [(u'1diI7PX0AxbbtiUB7nPbuQ', u'Joe', u'4.03', 6, 227, u'2010-10')]
user_new = user_new[0]
user_new[1]

u'Joe'

In [20]:
user_new = pd.DataFrame([{'user_id':user_new[0],'name':user_new[1],'average_stars':user_new[2],'fans':user_new[3],'review_count':user_new[4],'yelping_since':user_new[5]}],)

In [13]:
user_new[0][0]

u'1diI7PX0AxbbtiUB7nPbuQ'

In [21]:
user_new

  average_stars  fans name  review_count                 user_id yelping_since
0          4.03     6  Joe           227  1diI7PX0AxbbtiUB7nPbuQ       2010-10